* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Fredoka", sans-serif;
}

.container {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}
/* header */
.h1 {
  color: rgb(221, 70, 95);
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.div-parag {
  padding-left: 170px;
  padding-right: 170px;
  text-align: center;
}

.paragrafo {
  text-align: center;
  margin: auto;
}
/* /header */

/* div scheda */
.male-female {
  width: 250px;
  background-color: black;
  color: white;
  margin-bottom: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
  display: inline-block;
  margin-right: 20px;
  width: calc(100% / 3 - (80px / 3));
}

.male-female-last {
  width: 250px;
  background-color: black;
  color: white;
  margin-bottom: 8px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
  margin: none;
}

.img-male-female {
  float: left;
  height: 61px;
  margin-right: 5px;
}

.name-prof {
  padding: auto;
}

.email {
  color: rgb(71, 216, 252);
}
/* /div scheda */
